* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(270deg, #1C1E21, #5E646E, #C8CBD0);
    background-size: 400% 400%;
    background-image: url('assets/gifs/futebol.gif');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

/*quando a resolução for menor que 768px quero que o gif de fundo fique na vertical*/

@media screen and (max-width: 768px) {
    body {
        background: url('assets/gifs/futebol.gif') no-repeat center center;
        background-size: auto 100%;
        background-attachment: fixed;
        background-color: #000;
    }
}
