* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(270deg, #1C1E21, #5E646E, #C8CBD0);
    background-size: 400% 400%;
    background-image: url('assets/gifs/futebol.gif');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
